---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import '@/styles/globals.css'

// Sort posts by the most recent publication date
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			table {
				width: 100%;
				margin-top: 2rem;
			}
			th, td {
				text-align: center;
			}
			img {
				width: 100%;
				max-height: 300px; /* Set a fixed max-width */
				height: auto; /* Maintain aspect ratio */
				border-radius: 12px;
				box-shadow: var(--box-shadow);
				transition: box-shadow 0.2s ease;
				display: block;
				margin: 0 auto; /* Center image */
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
				font-size: 1.5rem;
				transition: color 0.2s ease;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
				transition: color 0.2s ease;
			}
			a {
				text-decoration: none;
			}
			a:hover .title,
			a:hover .date {
				color: rgb(var(--accent));
			}
			a:hover img {
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			}
			@media (max-width: 720px) {
				.title {
					font-size: 1.25rem;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<table>
					<tbody>
						{
							posts.map((post) => (
								<tr>
									<td>
										<a href={`/blog/${post.slug}/`}>
											<img src={post.data.heroImage} alt="" />
										</a>
									</td>
									<td>
										<a href={`/blog/${post.slug}/`}>
											<h4 class="title">{post.data.title}</h4>
										</a>
									</td>
									<td>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</td>
								</tr>
							))
						}
					</tbody>
				</table>
			</section>
		</main>
		<Footer />
	</body>
</html>
